@using Newtonsoft.Json
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

@section _Header
    {
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
    <style>
        th, td {
            text-align: center;
        }

            td p {
                height: 50px;
                overflow-y: hidden;
                text-overflow: ellipsis;
            }
    </style>
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card border-danger shadow mb-4">
            <div class="card-header bg-danger py-3">
                <h6 class="m-0 font-weight-bold text-white">Quản lý đặt chỗ</h6>
            </div>
            <div class="card-body">
                <div class="bs-example" style="text-align:right; padding-bottom:10px;">
                    <div class="btn-group">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã đặt chỗ</th>
                                <th>Tên vị trí</th>
                                <th>Ngày đặt</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Số lượng người</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th>Thanh toán</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                            var Number = 1;
                            var jsonData = JsonConvert.DeserializeObject(ViewBag.JsonData);
                            }
                        @foreach (var datcho in jsonData)
                        {
                            <tr>

                                <td>@datcho.datchoId</td>
                                <td>@datcho.vitri.tenvitri</td>
                                <td>@datcho.ngaydatcho</td>
                                <td>@datcho.ngaybatdau</td>
                                <td>@datcho.ngayketthuc</td>
                                <td>@datcho.soluongnguoi</td>
                                <td>@datcho.tongtien VNĐ</td>
                                <td>@datcho.trangthaidatcho</td>

                                <td>
                                    @if (datcho.trangthaidatcho == "Đã đặt")
                                    {
                                        <a href="https://localhost:7001/api/booking/check-out/@datcho.datchoId" class="btn btn-success">Thanh toán</a>
                                    }
                                </td>

                                <td>
                                    <a href="@Url.Action("Edit", new { id = datcho.datchoId })" class="btn btn-primary">Sửa</a>
                                    <a href="@Url.Action("Delete", new { id = datcho.datchoId })" class="btn btn-danger">Xoá</a>
                                </td>


                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

@section _Footer
    {
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script>
        var url = window.location.href;

        // Tìm tất cả các thẻ <a> có class là "collapse-item"
        var links = document.querySelectorAll('.collapse-item');

        // Duyệt qua từng thẻ <a>
        links.forEach(function (link) {
            // Nếu href của thẻ <a> trùng với URL của trang hiện tại
            if (link.href === url) {
                // Thêm lớp "active" vào thẻ <a>
                link.classList.add('active');

                // Thêm lớp "show" vào thẻ cha của thẻ <a>
                var grandParent = link.parentElement.parentElement;
                grandParent.classList.add('show');
            }
        });
    </script>
}

